.warning {
  margin: 0 0 10px;
  border-left: 4px solid #e1a326;
  background: #fff3cc;
  color: #3c2c0d;
  padding: 8px 10px;
  font-size: 13px;
  line-height: 1.4;
  text-transform: none;
}
.warning a {
  color: #513707;
  text-decoration: underline;
  font-weight: 700;
}
